.post {
  border-radius: 10px;
  border-color: #8447FF;
  border-width: 1px;
  border-style: solid;
  background-color: snow;
  padding: 1.5%;
}

@media screen and (max-width: 800px) {
  .post {
    padding: 5%;
    margin-left: -2%;
    margin-right: -2%;
  }
}

h1 {
  font-size: xx-large;
}