@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

body {
  background-color: #EBEBFE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

article h1 {
  margin: 1rem 0;
}

iframe {
  width: 95%;
  height: 75%;
  overflow: auto;
}
.iframe {
  text-align: center;
  height: 800px;
  width: 100%;
}

@keyframes fadeIn {
  0% { opacity: 0.2; margin-top: -3%; }
  100% { opacity: 1; }
}

.Home {
  animation: fadeIn 0.5s;
}

.About {
  animation: fadeIn 0.5s;
}

.Updates {
  animation: fadeIn 0.5s;
}

.Contact {
  animation: fadeIn 0.5s;
}

.Links {
  animation: fadeIn 0.5s;
}

